/******  FONTS  ******/

@font-face{
	font-family: "Montserrat-regular";
	src: url('font/Montserrat/Montserrat-Regular.ttf');
}

@font-face{
	font-family: "Montserrat-medium";
	src: url('font/Montserrat/Montserrat-Medium.ttf');
}

@font-face{
	font-family: "Playfair-regular";
	src: url('font/Playfair/PlayfairDisplay-Regular.ttf');
}

@font-face{
	font-family: "Playfair-italic";
	src: url('font/Playfair/PlayfairDisplay-Italic.ttf');
}

@font-face{
	font-family: "Nunito-Sans";
	font-style: regular;
	src: url('font/Nunito Sans/NunitoSans-Regular');
}

/******  BODY  ******/

body{
	min-height: 100vh;
}

/******  HEADER  ******/

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	position: absolute;
	background: rgba(35, 35, 60, 0.3);
	width: 100%;
	height: 21vh;
	color: white;
}

.header-left, .header-right {
	width: 200px;
}

.header-right{
	align-self: flex-start;
	padding-top: 20px;
}

.header-center{
	width: 65%;
}

.logo-header{
	height: 100px;
	padding: 0 60px;
}

.header-social-media-icons{
	display: flex;
}

.header-social-media-icons a img{
	height: 35px;
	padding: 0 15px;
}

header h1{
	font-family: 'Playfair-regular', "Time New Roman", serif;
	text-align: center;
	font-size: 4.5em;
	font-weight: normal;
	padding-top: 20px;
}

header ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

header ul li{
	padding: 0 20px;
	margin: 15px 0;
	font-family: 'Montserrat-regular', sans-serif;
	font-style: normal;
	font-size: 1.2em;
}

header a{
	color: white;
	text-decoration: none;
}

header a:hover{
	color: white;
}

/******  TARGET TAB  ******/

section:not(:target){
	display: none;
}

section:target{
	display: block;
}

/******  GENERALITIES FOR ALL SECTIONS  ******/

div.quote-under-header{
	height: 100vh;
	padding-top: 21vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.text-on-background-image{
	font-family: 'Montserrat-medium', sans-serif;
	text-transform: uppercase;
	font-size: 2.25em;
	text-align: center;
	color: white;
}

p.author{
	font-family: 'Playfair-italic', sans-serif;
	text-transform: none;
	font-size: 0.7em;
	font-weight: 400;
	text-align: right;
}

section {
	background-size: cover;
	background-position: center;
	height: 100vh;
}

/******  HOME PAGE  ******/

section#home-page{
	background-image: url("pictures/cat-gdf99b792e_1920.jpg");
}

/******  FIGARO THE WISE  ******/

section#figaro-the-wise{
	background-image: url("pictures/P80224-144019.jpg");
}

/******  PAZU THE STOMPER  ******/

section#pazu-the-stomper{
	background-image: url("pictures/P80810-164529.jpg");
}

/******  MEI THE PRECIOUS  ******/

section#mei-the-precious{
	background-image: url("pictures/P80810-171616.jpg");
}

/******  LYNX THE ANCESTOR  ******/

section#lynx-the-ancestor{
	background-image: url("pictures/P80224-144019.jpg");
}

/******  TOM THE PILGRIM  ******/

section#tom-the-pilgrim{
	background-image: url("pictures/P80224-144019.jpg");
}